/* Updated CSS with hover effect */
body {
    background-color: #0c1717; 
    color: #fbf8f8;
}

.title {
    text-align: center; /* Center align the title */
}

.drone-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.drone {
    flex: 0 0 calc(33.33% - 20px); /* Adjust width for 3 drones per row */
    margin: 10px;
    text-align: center;
}

.drone img {
    width: 70%;
    height: auto;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Add transition effect */
}

/* Add hover effect */
.drone img:hover {
    transform: scale(1.1); /* Scale up the image */
}
